:root {
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --rich-black: #0D1B2A;
    --oxford-blue: #1B263B;
    --bdazzled-blue: #415A77;
    --shadowblue: #778DA9;
    --platinum: #E0E1DD;
    --soft-blue: rgb(225,239,242);
    --soft-white: rgb(247, 247, 247);
    --soft-grey: rgb(188, 188, 212);

    --transparent-white-back:rgba(255, 255, 255, 0.4);

    --font-playfair: 'Playfair Display', serif;
    --font-roboto: 'Roboto', sans-serif;;
}


.about-section {
    min-height: 75vh;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(/images/about_back.jpeg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-right: 10vw;
    margin-left: 10vw;

    max-height: inherit;

    border: none;

    width: 840px;
}

.about-content h1, .about-content p {
    color: var(--rich-black);
    text-align: center;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.about-content h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.about-content p {
    font-family: var(--font-roboto);
    font-size: 15px;
    font-weight: 300;
}

.about-content strong {
    color: var(--rich-black);
}

.about-content a {
    color: var(--rich-black);
}


.about-content {
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}

@media all and (max-width: 550px) {
    
    .about-container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 2vw;
        margin-left: 2vw;
    
        overflow-y: visible;
    }
    
    .about-content h1, .about-content p {
        color: var(--rich-black);
        text-align: center;
        line-height: 1.85rem;
        margin-top: 1.5rem;
    }
    
    
    .about-content {
        padding: 1rem 2rem;
    }
}
