.sidebar {
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: all .5s ease;
  }
  
  #check{
    display: none;
  }
  
  #btn svg {
    width: 30px;
  }
  
  label #btn,label #cancel{
    position: absolute;
    background: black;
    border-radius: 3px;
    cursor: pointer;
  }
  
  label #btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 40px;
    height: 40px;
  
    right: 40px;
    bottom: 25px;
  
  
    color: white;
    padding: 0.1px 1px;
    border-radius: 25px;
    transition: all .5s;
  }
  
  #cancel svg {
    width: 20px;
  }
  
  label #cancel {
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 1111;
    /* right: -195px; */
  
    display: none;
  
    width: 20px;
    height: 20px;
  
    top: 4px;
    color: white;
  
    border-radius: 20px;
  
    padding: 2px 4px;
    transition: all .5s ease;
  }
  
  #check:checked ~ .sidebar{
    right: 0;
  }
  #check:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    display: flex;
    
    right: 5px;
  }
  #check:checked ~ section{
    margin-right: 250px;
    margin-bottom: 100px;
  }

  section {
    height: 80vh;
    transition: all .5s;
  }