.chat-container {
  position: fixed;
  right: 0;
  bottom: 0;

  margin-right: 10px;
  margin-bottom: 10px;

  /* background-color: rgba(128,128,128,1); */
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  z-index: 9999;
}

.chat-box {
  /* display: none; */

  width: 300px;
  height: 400px;

  background-color: white;
}


.chat-button {
}

.chat-button button {
  background-color: black;
  width: 100px;
}


.chat-button svg {
  max-width: 15px;
}