:root {
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --rich-black: #0D1B2A;
  --oxford-blue: #1B263B;
  --bdazzled-blue: #415A77;
  --shadowblue: #778DA9;
  --platinum: #E0E1DD;
  --soft-blue: rgb(225,239,242);
  --soft-white: rgb(247, 247, 247);
  --soft-grey: rgb(188, 188, 212);

  --transparent-white-back:rgba(255, 255, 255, 0.4);

  --transparent-white-back-less:rgba(255, 255, 255, 0.8);

  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;;
}

.chat-container {
  position: fixed;
  right: 0;
  bottom: 0;

  margin-right: 10px;
  margin-bottom: 10px;

  /* background-color: rgba(128,128,128,1); */
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  z-index: 1;

  transform: .4s;
}

.chat-box {
  font-family: var(--font-roboto);
  /* display: none; */

  padding: 10px 18px;
  /* display: block; */

  border-radius: 30px;
  border: 1px solid var(--soft-grey);

  width: 15vw;
  height: 50vh;

  min-width: 300px;
/* 
  max-width: 500px;
  max-height: 600px; */

  background-color: var(--transparent-white-back-less);
}


.chat-button {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  z-index: 2;
}

.chat-button button {
  font-family: var(--font-roboto);
  background-color: var(--rich-black);
  border-radius: 20px;
  width: 80px;
  height: 40px;
  
  border: 0.2px solid var(--soft-grey);
}

.chat-button button:hover {background-color: var(--bdazzled-blue)}

.chat-button button:active {
  background-color: var(--soft-grey);
  box-shadow: 0 5px #666;
  transform: 0.4s translateY(4px);
}


.chat-button svg {
  max-width: 16px;
}

/* MOBILE CHAT DISPLAY */
@media all and (max-width: 550px) {
  .chat-box {
    width: 95vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.95);
  }
}
