:root {
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --rich-black: #0D1B2A;
    --oxford-blue: #1B263B;
    --bdazzled-blue: #415A77;
    --shadowblue: #778DA9;
    --platinum: #E0E1DD;
    --soft-blue: rgb(225,239,242);
    --soft-white: rgb(247, 247, 247);

    --transparent-white-back:rgba(255, 255, 255, 0.4);

    --font-playfair: 'Playfair Display', serif;
    --font-roboto: 'Roboto', sans-serif;;
}

/* Setup */
* {
    font-family: 'Playfair Display', serif;
    /* box-sizing: border-box; */
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--platinum);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    opacity: .9;
}



/* ========== Header-Nav ========= */
.nav-container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rich-black);
    box-shadow: var(--dark-shadow);
    
    height: 10vh;
} 

.nav-logo {
    margin-left: 2rem;
}

.nav-logo p {
    font-family: var(--font-roboto);
}

.nav-list {
    display: flex;
    width: auto;
    margin-right: 1rem;
    max-height: 100%;
}

.nav-list li {
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}

/* Header Mobile */

@media all and (max-width: 550px) {
    .nav-logo {
        font-size: 0.8rem;
    }

    .nav-list li {
        font-size: 0.8rem;
    }
}





/* ======= Hero Section ======== */
.hero-section {
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(/images/sea-back.jpg);
}

.hero-container {
    height: inherit;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    background-color: var(--transparent-white-back);

    width: 43vw;
    height: 65vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.hero-left h1 {
    color: var(--rich-black);
    font-size: 4rem;
    margin-left: 4vw;
    margin-right: 4vw;
}

.hero-left p {
    color: var(--rich-black);
    font-size: 1.5rem;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-shadow: var(--dark-shadow);
}

.hero-right {
    width: 43vw;
    height: 65vh;
}

/* Hero Mobile */

@media all and (max-width: 550px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-left {
        background-color: var(--transparent-white-back);
    
        width: 90vw;
        height: 80vh;
    }

    .hero-left h1 {
        font-size: 3rem;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .hero-left p {
        font-size: 1.2rem;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        text-shadow: var(--dark-shadow);
    }

    .hero-right {
        display: none;
    }
}






/* ========= Passage Section ======== */
.passage-section {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--shadowblue);
}

.passage-container {
    background-color: var(--soft-blue);
    height: inherit;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.passage-left {
    background-image: url(/images/passage.png);
    background-size: cover;
    background-position: center;

    width: 43vw;
    height: 80vh;   

    margin-top: 5vh;
    margin-bottom: 5vh;
}

.passage-right {
    background-color: var(--rich-black);
    
    width: 43vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 5vh;
    margin-bottom: 5vh;
}

.passage-content {
    max-height: 80vh;
    overflow-y: auto;

    margin-left: 5vw;
    margin-right: 5vw;
}

.passage-content h1 {
    font-size: 2.6rem;
    font-weight: 300;
}

.passage-content p {
    font-family: var(--font-roboto);
    line-height: 1.85rem;
}

/* Passage Mobile */
@media all and (max-width: 550px) {
    .passage-section {
        height: auto;
    }
    
    .passage-container {
        flex-direction: column-reverse;
    }
    
    .passage-left {
        background-image: url(/images/passage.png);
        background-size: cover;
    
        width: 90%;
        height: 45vh; 
        
        margin: 1rem;
    }
    
    .passage-right {
        height: 100vh;

        width: 100%;

        justify-content: start;
    }
    
    .passage-content {
        overflow: visible;

        margin-top: 5vh;
        margin-bottom: 1vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .passage-content h1 {
        font-size: 1.6rem;
        font-weight: 300;
    }
    
    .passage-content p {
        font-family: var(--font-roboto);
        line-height: 1.5rem;

        opacity: .8;
    }
}






/* ======= Story Showcase Section ========*/
.story-section {
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--rich-black);

    display: flex;
    align-items: center;
    justify-content: center;
}




/* ======== Future Section ========= */
.future-section {
    height: auto;
    background-color: var(--soft-white);
}

.future-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-left {
    width: 43vw;
    height: inherit;

    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.future-content {
    margin-left: 8vw;
    margin-right: 2vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.future-content h1 {
    font-size: 2.6rem;
    font-weight: 300;

    color: var(--rich-black);
}

.future-content span {
    font-size: 1.1rem;
}

.future-content p {
    font-family: var(--font-roboto);
}

.future-right {
    width: 43vw;
    height: inherit;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-right: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.future-img img {
    max-height: 75vh;
    box-shadow: 20px 25px var(--rich-black);
}

.future-section h1, .future-section p, span {
    color: var(--rich-black);
    line-height: 1.85rem;
}

/* Future Mobile */
@media all and (max-width: 550px) {
    .future-section {
        height: auto;
    }
    
    .future-container {
        flex-direction: column-reverse;
    }
    
    .future-left {
        width: 100%;
        height: inherit;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .future-content {
        margin-left: 2vw;
        margin-right: 3vw;
    }
    
    .future-content h1 {
        font-size: 1.6rem;
    }
    
    .future-content span {
        font-size: 1.1rem;
    }
    
    .future-content p {
        font-family: var(--font-roboto);
    }
    
    .future-right {
        width: 80%;
        align-items: center;
    }
    
    .future-img {
        width: 80%;
        margin-top: 1rem;
        align-items: center;
    }

    .future-img img {
        width: 80%;
        box-shadow: 10px 12px var(--rich-black);
    }
    
    .future-section h1, .future-section p, span {
        color: var(--rich-black);
        line-height: 1.5rem;
    }
}









/* ======= Footer ======== */
footer {
    height: 15vh;
    background-color: var(--rich-black);

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 1.5rem;
}















/* ========  ======== ========= */
/* ========  ======== ========= */
/* ======== Story Page ========= */
/* ========  ======== ========= */
/* ========  ======== ========= */
/* Container- Story */
main {
    display: grid;
    place-items: center; 
}

.container-content {
    box-sizing: border-box;
    /* place-items: center; */
    background-color: var(--platinum);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    line-height: 2rem;
    margin: 1vw 5vw;
    /* margin-top: 1vw;
    margin-right: 5vw;
    margin-left: 5vw; */
}

.title {
    text-align: center;
    margin-bottom: 40px;
    /* border: 1px solid black; */
}

.title h1 {
    /* display: inline-flex; */
    padding: 10px 30px;
    background-color: var(--oxford-blue);
    box-shadow: var(--dark-shadow);
    border-radius: 8px;
}

.story-content {
    /* line-height: 2rem; */
    background-color: var(--oxford-blue);
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: var(--dark-shadow);
    border-radius: 8px;
}

.story-content p {
    padding: 10px 30px;
}

.story-foot {
    margin-top: 1rem;
}

.story-foot ul {
    padding-left: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.story-foot button {
    font-family: inherit;
    font-size: 28px;
    font-weight: 500;

    background-color: var(--oxford-blue);
    border: 1px solid black;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0px 20px;

    box-shadow: var(--dark-shadow);
    border-radius: 8px;
    cursor: pointer;
}

.chat-box {
    position: absolute;
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
    right: 0;
    bottom: 0;
    /* border: 2px solid black; */
    height: 40vh;
    width: 12vw;
}