:root {
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    --rich-black: #0D1B2A;
    --oxford-blue: #1B263B;
    --bdazzled-blue: #415A77;
    --shadowblue: #778DA9;
    --platinum: #E0E1DD;
}

/* Setup */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--platinum);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header-Nav */
.header-site {
    /* border: 5px solid black; */
    text-align: center;
}

.nav-site {
    /* border: 2px dotted grey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--rich-black);
    box-shadow: var(--dark-shadow);
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 500;
}

/* Container- Story */
main {
    display: grid;
    place-items: center; 
}

.container-content {
    box-sizing: border-box;
    /* place-items: center; */
    background-color: var(--platinum);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    line-height: 2rem;
    margin: 1vw 5vw;
    /* margin-top: 1vw;
    margin-right: 5vw;
    margin-left: 5vw; */
}

.title {
    text-align: center;
    margin-bottom: 40px;
    /* border: 1px solid black; */
}

.title h1 {
    /* display: inline-flex; */
    padding: 10px 30px;
    background-color: var(--oxford-blue);
    box-shadow: var(--dark-shadow);
    border-radius: 8px;
}

.story-content {
    /* line-height: 2rem; */
    background-color: var(--oxford-blue);
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: var(--dark-shadow);
    border-radius: 8px;
}

.story-content p {
    padding: 10px 30px;
}

.story-foot {
    margin-top: 1rem;
}

.story-foot ul {
    padding-left: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.story-foot button {
    font-family: inherit;
    font-size: 28px;
    font-weight: 500;

    background-color: var(--oxford-blue);
    border: 1px solid black;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0px 20px;

    box-shadow: var(--dark-shadow);
    border-radius: 8px;
    cursor: pointer;
}

.chat-box {
    position: absolute;
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
    right: 0;
    bottom: 0;
    /* border: 2px solid black; */
    height: 40vh;
    width: 12vw;
}