<section class="story-section">
    <div class="story-meta">
        <ul>
            <li>Meta</li>
            <li>This is where the extra data will lies</li>
        </ul>
    </div>

    <div class="story-container">
        <div class="story-data">
            This is where the book Title
        </div>
        <div class="story-chapter">
            This is where the chapter will be shownss (Then underline)
        </div>
        <div class="story-content">
            This is whre the story will be
        </div>
    </div>

    <div class="story-route">
        <ul>
            <li>Route1</li>
            <li>Route2</li>
        </ul>
    </div>
</section>